<p>A new payment has been made:</p>
<ul>
  <li>User: {{transaction.user.username}}</li>
  <li>Amount: {{transaction.amountUSD}} USD</li>
  <li>Amount in BONK: {{transaction.amountBonk}} BONK</li>
  <li>Status: {{transaction.status}}</li>
</ul>
